/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body{
	margin:0;
	background: #FAFAFA;
}

@media (min-width: 320px){
	.container-component{
		padding: 2em;
		min-height: 100vh;
	}
	.example-header-image {
    	background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
    	background-size: cover;
	}
	.mat-card-image {
    	max-height: 25em;
	}
	.externo h2{
		text-align: center;
	}
	.mat-toolbar span{
		margin: auto;
	}
	.mat-drawer{
		background: #3f51b5;
	}
	.mat-toolbar,.mat-drawer-inner-container .mat-list-base .mat-list-item{
		color: #fff;
	}
	.mat-raised-button:not([class*=mat-elevation-z]){
		margin: 10px !important;
	}
	.cardUser{
		margin: 2em 0;
	}
}

@media (min-width: 961px){
	.container-component{
		padding: 2em 2em 2em 16em;
	}
	.externo .example-card{
		margin: 2em 6em;
	}
}